# Distribution    #
###################
dist/*
MANIFEST

#futhark pkg library#
#####################
futhark/lib/*

# Data            #
###################
data/*
futhark/data/*
/sd/*
/preproc/*
*.gz

# Compiled source #
###################
*.c
*.h
futhark/*.py
futhark/backprojection
futhark/backprojection_test
futhark/SIRT
futhark/SIRT_test
futhark/forwardprojection_test
futhark/forwardprojection
futhark/sanityCheck
futhark/mse
futhark/diff
futhark/forwardprojection_test2
futhark/forwardprojection_best
futhark/poc
